.logo{
    display:block;
    margin:auto;
    width: 70px;
    height: 50px;
}

body{
    height: 100vh;
    background-image:linear-gradient(rgb(216, 236, 68),rgb(128, 106, 201)
    );
}

h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    border-radius: 13px;
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    margin-bottom: 23px;
    overflow-y: auto;
}
.message{
    background-color: rgb(231, 224, 224);
    width: 24%;
    padding:10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius: 10px;
}

.left{
    float:left;
    clear: both;
}
.right{
    float:right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width: 91%;;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    margin-left:5px;
 cursor: pointer;
 border: 2px solid black;
 border-radius: 6px;
 height: 34px;
}
